@import "./styles/example.scss"; // import the file from our styles so it will be bundled

#main {
    color: $color; // $color was defined in example.scss, which we can use because it's imported before we hit this
}

body {
    background-color: #000;
}


div#graph {
    // height: 500px;
    // width: 60%;
    border:2px solid #000;
    // overflow: scroll;
}

ul {
    list-style: none;
}

circle {
    stroke: #fff;
    stroke-width: 0;
    fill: white;
  }
  circle:hover {
    stroke: #fff;
    stroke-width: 2px;
    fill: red;
  }
  
.link {
    fill: none;
    stroke: #00ff00;
}

text {
    text-decoration: none;
    fill: white;
    font-family: Garamond;
    stroke-width: 0%;
}
text:hover {
    text-decoration: none;
    fill: red;
    font-family: Garamond;
    font-weight: bold;
}

path {
    opacity: 100%;
    stroke: white;
}
path:hover {
    stroke-width: 4px;
    stroke: red;
}