@import "./styles/example.scss"; // import the file from our styles so it will be bundled

#main {
    color: $color; // $color was defined in example.scss, which we can use because it's imported before we hit this
}

body, label, text, a,li, #ladder {
    background-color: #000;
    color: #fff;
}

div#input {
    width: 1100px;
    border:2px solid #fff;
}

div#ladder-and-graph {
    height: 600px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#ladder {
    height: 100%;
    width: 200px;
    border:2px solid #fff;
}

div#graph {
    height: 100%;
    width: 900px;
    border:2px solid #fff;
    overflow: scroll;
}

ul {
    list-style: none;
}

circle {
    stroke: #fff;
    stroke-width: 0;
    fill: white;
  }
  circle:hover {
    stroke: #fff;
    stroke-width: 2px;
    fill: red;
  }
  
.link {
    fill: none;
    stroke: #00ff00;
}

text {
    text-decoration: none;
    fill: white;
    font-family: Garamond;
    stroke-width: 0%;
}
text:hover {
    text-decoration: none;
    fill: red;
    font-family: Garamond;
    font-weight: bold;
}

path {
    opacity: 100%;
    stroke: white;
}
path:hover {
    stroke-width: 4px;
    stroke: red;
}